main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: auto;
  grid-gap: 20px;
}

#hovedside> div{
  background-color: lightgrey;
}

#artAlle{
  grid-column: 2/3;
}


.forfatter{
  border: 1px solid black;
}

.Artikler{
  display: grid;
  grid-template-rows: 0.5fr 4fr
}

.Tilbud{grid-column: 3/3}

#underside{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  max-width: auto;
  grid-gap: 15px;
}

#underside div{
  background-color: lightgrey;
}


body{text-align: center;}
nav{text-align: center;
    background-color: lightgrey;
  }
